footer {
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #092843;
}

footer h2 {
  color: #f5f5f5;
}

.footer-logo img {
  width: 90px;
}
.social-icons {
  margin-right: 50px;
}

.social-icons svg {
  fill: #f5f5f5;
  width: 24px;
  height: 24px;
  margin-left: 50px;

  transition: all 0.3s ease;
  cursor: pointer;
}

/* .social-icons svg {
  transition: all 0.3s ease;
} */

.social-icons svg:hover {
  fill: #f18e2c;
  transform: scale(1.2);
}
