* {
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}

@import "tailwindcss";

@font-face {
  font-family: "Energy";
  src: url(assets/font/LTEnergy-Semi-Italic.otf);
}


@theme {
  --color-principal: #f18e2c;
  --color-secundaria: #092843;
}