.background {
  min-height: 100vh;
  background: url("../../assets/AdmBG.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 3% 10%;
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: 2.5rem;
  margin-top: -30px;
  margin-left: -300px;
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoArea img {
  width: 10%;
  height: auto;

  padding-bottom: 40px;
}

.verticalLine {
  border-left: 1px solid #0c2442;
  width: 10px;
  height: 50px;
  margin-bottom: 15px;
}

.text {
  font-weight: 600;
  font-size: 0.875rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
  color: #0c2442;
  margin-bottom: 0.25rem;

  margin-bottom: 10%;
}

.gridButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-bottom: 2rem;
}

.button,
.mainButton {
  background-color: #0c2442;
  color: #f5f5f5;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border-color: 1px #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;

  text-decoration: none;
}

.button:hover,
.mainButton:hover {
  background-color: #f5f5f5;
  color: #0c2442;
  border: 1px solid #0c2442;
}

.mainButton {
  padding: 0.75rem 2.5rem;
}

.addBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 425px;
  height: auto;

  background-color: #f18e2c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-style: none;
  transition: all 0.3s ease-in-out;
}

.addBlock:hover {
  scale: 1.04;
}

.plusIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0c24428a;
  width: 425px;
  height: 250px;
}

.buttonsArea {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 30%;
  margin-top: 2rem;
}

.btnVoltar {
  background-color: #f18e2c;
  color: #001429;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #f18e2c;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btnVoltar:hover {
  background-color: #f5f5f5;
  color: #f18e2c;
  border: 1px solid #f18e2c;
}

.btnAlterar {
  background-color: #0c2442;
  color: #f5f5f5;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: 1px x solid #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnAlterar:hover {
  background-color: #f5f5f5;
  color: #0c2442;
  border: 1px solid #0c2442;
}
